language = "cpp"
run = "clang++ -std=c++17 -O3 -Weverything -Wno-missing-prototypes -Wno-padded -Wno-c++98-compat -Wno-float-conversion main.cpp AttackItem.cpp Character.cpp DefensiveItem.cpp Dragon.cpp DragonSlayer.cpp Dwarf.cpp HelpfulItem.cpp Paladin.cpp Utility.cpp && ./a.out"
